* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif'
}

body {
  background-color: rgb(241, 235, 235);
}

h1 {
  text-align: center;
}

.rating-filter {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.expand {
  display: none;
}

.bookmark-rating {
  float: right;
}

.js-bookmark-rating {
  display: block;
}

.form-container {
  background-color: gainsboro;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: center;
}

.panel-body {
  background-color: gainsboro;
  padding-bottom: 0px;
}

.click-to-expand-prompt {
  text-align: center;
}

a {
  font-size: 18px;
  text-decoration: none;
}